# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

options = webdriver.ChromeOptions()

driver = webdriver.Chrome(
    service = Service(ChromeDriverManager().install()),
    options = options
)

URL = "https://companies-market-cap-copy.vercel.app/index.html"
driver.get(URL)
table = driver.find_element(By.CLASS_NAME, "table")

In [ ]:
list_td =[]
for row in table.find_elements(By.CSS_SELECTOR, "tbody tr"):
    #print(row.text)
    #for data in row.find_elements(By.TAG_NAME, "td"):
        #print(data.text)
    celdas = row.find_elements(By.CSS_SELECTOR, 'td')
    list_td.append([celda.text for celda in celdas])
list_head = []
for row in table.find_elements(By.CSS_SELECTOR, "thead tr"):
    celdas = row.find_elements(By.CSS_SELECTOR, 'th')
    list_head.append([celda.text for celda in celdas])
dataframe = pd.DataFrame(list_td, columns =list_head )
#dataframe["Revenue"]= dataframe["Revenue"].str.replace("B","")
dataframe = dataframe.replace(r"[^0-9.-]", "", regex=True).apply(pd.to_numeric)
dataframe = dataframe.dropna()
dataframe

    Year Revenue  Change
0   2024   97.15    0.39
1   2023   96.77   18.80
2   2022   81.46   51.35
3   2021   53.82   70.67
4   2020   31.53   28.31
5   2019   24.57   14.52
6   2018   21.46   82.51
7   2017   11.75   67.98
8   2016    7.00   73.01
9   2015    4.04   26.50
10  2014    3.19   58.85
11  2013    2.01  387.23
12  2012    0.41  102.34
13  2011    0.20   74.95
14  2010    0.11    4.29